  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #eee;
  }
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    color: #3e3a3a;
    font-weight: 300;
    text-shadow: 1px 3px 2px #b8b8bd;
  }
  h2 {
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  }
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 0 20px;
    font-weight: 400;
    text-shadow: 1px 3px 5px #ddd;
    color: #3e3a3a;
  }
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  .showForecasts:hover,
  #goBack:hover,
  #startOver:hover {
    text-decoration: none;
    color: #0000b4;
    cursor: pointer;
    border-radius: 6px;
  }
  #container_ {
    height: 100%;
  }
  #map_ {
    height: 100%;
    margin-left: 250px;
  }
  #forecastGrid {
    display: none;
    color: #333;
  }
  #side_bar_ {
    width: 248px;
    height: 100%;
    float: left;
    color: #0000b4;
    display: grid;
    grid-template-rows: 170px auto 50px 50px 50px;
    align-items: start;
    border-right: solid gray 1px;
  }
  #mainTitle {
    display: grid;
    grid-template-rows: 60px 50px 60px;
    align-items: center;
  }
  .showForecasts {
    margin: 0 40px;
  }
  #startOver {
    margin: 0 30px;
  }
  #startOver, .showForecasts {
    color: black;
  }
  .invisible {
    visibility: hidden;
  }
  #footer {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
  }
  #footer p {
    font-size: 14px;
    margin: 0;
    color: #3e3a3a;
    text-shadow: 1px 3px 2px #ddd;
  }
  #cityNames {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(auto-fill, 30px);
    align-items: start;
  }
  #cityNames div {
    height: 28px;
  }
  .placeName {
    align-self: start;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-shadow: 1px 3px 2px #ddd;
    color: #3e3a3a;
  }
  .message {
    color: red;
  }
  section:nth-of-type(odd) {
    background-color: rgb(198, 218, 251);
  }
  .grid {
    display: grid;
    align-items: center;
  }
  .timePeriod, .location {
    color: #0000b4;
    line-height: 1.2;
  }
  .location {
    align-self: start;
    margin: 0;
  }
  .timePeriod {
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  .city_box {
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 10px;
  }
  .weather_icon {
    width: 80px;
    height: 80px;
    border-radius: .4rem;
    margin-top: 9px;
  }
  .icon_row, .header_row {
    display: grid;
    grid-template-columns: 208px repeat(14, 96px);
    justify-items: center;
  }
  .icon_row {
    height: 158px;
    align-items: start;
  }
  .header_row {
    height: 50px;
    align-items: center;
  }
  .icon_box, .header_box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .header_box {
    align-items: center;
  }
  .icon_box {
    align-items: start;
    position: relative;
  }
  .icon_text {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
    margin: 6px 2px 0 2px;
  }
  .temperature {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    color: #f9d66e;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
  }
  .message {
    margin: 0 5px;
  }
